// Your custom pages css here
.nav-user .account-position {
  margin-top: 8px;
}

.trix-content img{
  max-width: 50% !important;
}

.attachment__name, .attachment__size{
  display:none;
}

.table-admin{
  margin-bottom:0;
}
