/ h1.title New Post
/ .section
/   = simple_form_for @post do |f|
/     .field
/       .control
/         = f.input :title, input_html: {class: 'input'}, wrapper:false, label_html: {class: 'label'}
/     .field
/       .control
/         = f.input :content, input_html: {class: 'itextarea'}, wrapper:false, label_html: {class: 'label'}
/     = f.button :submit, 'Create new post', class: 'button is-primary mt-2'
- content_for :page_title, "Create a new post"
= render 'form'
